@charset "utf-8";

/* 共通部分 */
h1 {
    font-size: 60px;
    text-align: center;
    margin: 20px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

dt {
    font-size: 24px;
    margin-bottom: 20px;
}

dd {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

#myForm {
    /* text-align: center; */
    margin: 50px auto;
    width: 40%;
}

.width-height {
    width: 600px;
    height: 45px;
}

#submit {
    display: block;
    text-align: center;
    margin: 45px auto;
    width: 200px;
    height: 50px;
    font-size: 24px;
    border: none;
    background-color: aqua;
    color: #222222;
}


/* index.php */
.onegai {
    font-size: 24px;
    text-align: center;
    color: red;
}

.red {
    color: red;
}

dd input {
    font-size: 24px;
}

#a_gata, #b_gata, #ikou, #other {
    width: 30px;
}

#errorMessage1, #result, #errorMessage2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: green;
}

/* write.php */
ul {
    margin: 30px auto;
    text-align: center;
}

ul li {
    font-size: 24px;
    padding: 10px;
}

/* kanri.php */
.kanri-table {
    margin: 40px auto;
    width: 95%;
    border-collapse:  collapse; /* セルの線を重ねる */
}

th,td {
    border: solid 1px;
    padding: 5px 15px 5px 15px;
}

th {
    background-color: lightblue;
}

td {
    white-space: nowrap;
}

#logout a{
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 45px auto;
    font-size: 28px;
}

/* login.php */
.shinki-touroku {
    text-align: center;
    font-size: 28px;
}